* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
}

.navbar nav {
  background: black;
  min-height: 50px;
}

.navbar li {
  list-style: none;
  color: white;
  display: inline-block;
  padding: 2em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.navbar {
  border: 4px solid white;
}

.navbar li:hover {
  text-shadow: 1px 1px 1px wheat;
}

.navbar-2 {
  margin: 0 1px;
  /* border-bottom: 3px groove darkgrey; */
}

.nav-2 ul > li {
  display: inline-block;
  color: gray;
  padding: 1.5em 0em 0.5em 1.5em;
  font-family: "Roboto", sans-serif;
}

.nav-2 ul > li:hover {
  color: black;
  text-decoration: underline 2px;
  cursor: grab;
}

.pro-pic {
  position: absolute;
  right: 3em;
  top: 1em;
  border: 2px solid white;
  border-radius: 30px;
}

.pro-pic:hover {
  cursor: grab;
  background: white;
}

@media screen and (max-width: 500px) {
  .pro-pic {
    display: none;
  }
  .nav-2 ul > li:nth-child(1) {
    display: none;
  }
  .content {
    flex-direction: row;
  }
  .curtesy {
    flex-direction: row;
  }
}
.content {
  min-height: 80%;
  background: rgb(236, 232, 232);
  border: 4px solid white;
  display: flex;
  flex-wrap: wrap;
  padding: 5em;
  gap: 5em;
}

p {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;

  /* margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin: 5em;
    padding: 5em; */
  padding: 2em;
  text-align: center;
}

p img {
  height: 22em;
  width: 25em;
}

p img:hover {
  opacity: 0.5;
}

.curtesy {
  min-height: 150px;
  background: black;
  color: wheat;
  border: 4px solid white;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

footer ul {
  display: inline-block;
  padding: 1em 5em 2em 5em;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}
footer ul li {
  list-style: none;
  margin: 1.5em;
  font-family: "Roboto", sans-serif;
}

footer ul li:nth-child(1) {
    font-size: large;
    font-weight: bolder;
}

footer ul li:hover {
    text-shadow: 1px 1px 1px wheat;
    cursor: grab;
}

.copyright{
    
}
